<%- include("../templates/encabezado.ejs")%>
<%- include("../templates/menu.ejs")%>

<div class="container mt-5">
    <form action="/editar" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Modificar Usuario</h1>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id%>" >
                <input type="hidden" name="passwordViejo" value="<%= user.password %>">
                <input type="hidden" name="saltViejo" id="saltViejo" value="<%= user.salt %>">
                <input type="hidden" name="fotoVieja" id="fotoVieja" value="<%= user.foto %>">
                <input class="form-control mb-3" type="text" value="<%= user.nombre%>" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" value="<%= user.usuario%>" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Nuevo password o password en blanco">
                <input class="form-control mb-3" type="file" value="<%= user.foto %>" name="foto" id="foto" placeholder="Foto" >
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary" type="submit">Modificar Usuario</button>
            </div>
            
            </div>
        </div>
    </form>
</div>

<%- include("../templates/pie")%>